@font-face {
  font-display: swap;
  font-family: "FS Gravity";
  font-style: normal;
  font-weight: lighter;
  src: url('/fonts/fs-gravity.ttf');
}

@font-face {
  font-display: swap;
  font-family: "TT Octosquares Compressed";
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/tt-octosquares_compressed.ttf');
}