@use "../../styles/colors";
@use "../../styles/breakpoints";

@import "../../styles/fonts";

.skills__icon {
  display: none;

  @media screen and (min-width: breakpoints.$md) {
    display: block;
    position: absolute;
    top: 35rem;
    right: 1rem;
    z-index: 4;
    width: 12rem;
    rotate: -12deg;
  }
}

#window-skills {
  .skill {
    display: flex;
    height: 4rem;
    align-items: center;
    gap: 2rem;

    &__icon {
      width: 3rem;
      fill: colors.$primary;
    }
  }
}